# ignore .git and .cache folders
.git
.venv
venv
.cache
.pytest_cache

**/*.pyc



# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md


# db files
db.sqlite3

# docker
Dockerfile
docker-compose.yaml

